Repository systmms/segnomms: changes, and which lefthook commands are due for each by the changed paths.
All: actionlint, validate-gha-event-fixtures, black, isort, check-yaml, check-json, debug-statements, mypy, bandit, repo-scripts, doc-dependencies, doc-build, doc-references, spell-check, spell-check-dict, spell-check-config, spec-kit-validation, spec-kit-constitution, spec-kit-templates

actionlint:
  run: actionlint {staged_files}

validate-gha-event-fixtures:
  run: node repo/gha/scripts/validate-event-payloads.mjs --format {staged_files}
  stage_fixed: true

black:
  run: black {staged_files}
  stage_fixed: true

isort:
  run: isort --profile black {staged_files}
  stage_fixed: true

check-yaml:
  run: "for file in {staged_files}; do\n  python -c \"import yaml; yaml.safe_load(open('$file'))\" || exit 1\ndone\n"

check-json:
  run: "for file in {staged_files}; do\n  python -m json.tool \"$file\" > /dev/null || exit 1\ndone\n"

debug-statements:
  run: "for file in {staged_files}; do\n  if grep -E '(import pdb|pdb\\.set_trace\\(\\)|import ipdb|ipdb\\.set_trace\\(\\))' \"$file\"; then\n    echo \"Debug statements found in $file\"\n    exit 1\n  fi\ndone\n"

mypy:
  run: mypy {staged_files}

bandit:
  run: bandit -c .bandit -r {staged_files}

repo-scripts:
  run: 'echo "Repository script changed: {staged_files}"
  
    echo "Consider running relevant tests if scripts are modified"
  
    '

doc-dependencies:
  run: python repo/check_doc_dependencies.py

doc-build:
  run: python repo/check_doc_build.py --skip-if-missing-deps --quiet

doc-references:
  run: python repo/validate_docs_references.py

spell-check:
  run: "# Install cspell if needed\nif ! command -v npx &> /dev/null || ! npx cspell --version &> /dev/null 2>&1; then\n  echo \"Installing cspell (Code Spell Checker)...\"\n  ./repo/setup_cspell.sh\nfi\n# Run spell check on documentation files\npython repo/spell_check_docs_cspell.py --files {staged_f
  ...

spell-check-dict:
  run: "echo \"Project dictionary updated - running full spell check\"\nif ! command -v npx &> /dev/null || ! npx cspell --version &> /dev/null 2>&1; then\n  echo \"Installing cspell (Code Spell Checker)...\"\n  ./repo/setup_cspell.sh\nfi\npython repo/spell_check_docs_cspell.py --quiet\n"

spell-check-config:
  run: "echo \"cspell configuration updated - running full spell check\"\nif ! command -v npx &> /dev/null || ! npx cspell --version &> /dev/null 2>&1; then\n  echo \"Installing cspell (Code Spell Checker)...\"\n  ./repo/setup_cspell.sh\nfi\npython repo/spell_check_docs_cspell.py --quiet\n"

spec-kit-validation:
  run: "echo \"Specification files changed - validating...\"\n# Check markdown syntax\nfor file in {staged_files}; do\n  if [[ \"$file\" == *.md ]]; then\n    python -c \"import markdown; markdown.markdown(open('$file').read())\" 2>/dev/null || {\n      echo \"❌ Markdown syntax error in $file\"\n     
  ...

spec-kit-constitution:
  run: "echo \"Constitution updated - validating format...\"\n# Check for required sections and version format\nfile=\"{staged_files}\"\nif ! grep -q \"^## Core Principles\" \"$file\"; then\n  echo \"❌ Constitution missing 'Core Principles' section\"\n  exit 1\nfi\nif ! grep -q \"^## Governance\" \"$f
  ...

chore: add ideas backlog for future refactoring opportunities
  .specify/ideas/documentation-improvements.md
  .specify/ideas/pattern-style-config-refactor.md
  .specify/ideas/processor-split.md
  .specify/ideas/test-quality-audit.md
  CLAUDE.md
Due: none

docs: address PR review feedback on documentation-improvements
  .specify/ideas/documentation-improvements.md
Due: none

docs(makefile): fix package name and add docs-validate target
  Makefile
Due: none

docs(specs): update documentation audit status to complete
  specs/002-initial-documentation-audit/plan.md
  specs/002-initial-documentation-audit/spec.md
  specs/002-initial-documentation-audit/tasks.md
Due: spec-kit-validation

fix(docs): correct validation scripts and non-existent constant references
  docs/source/testing/test-constants.rst
  scripts/extract_code_examples.py
  scripts/verify_documentation_fixes.py
  specs/002-initial-documentation-audit/spec.md
Due: black, isort, debug-statements, mypy, bandit, doc-dependencies, doc-build, doc-references, spell-check, spec-kit-validation

fix(docs): prevent visual-gallery.rst from showing as modified after docs build
  docs/source/_ext/visual_gallery.py
Due: black, isort, debug-statements, mypy, bandit, doc-dependencies, doc-build

fix(docs): correct validate_docs_references.py path in tasks.md
  specs/002-initial-documentation-audit/tasks.md
Due: spec-kit-validation

docs(ideas): add project naming consistency review backlog
  .specify/ideas/project-naming.md
Due: none

docs(specs): add naming consistency specification and implementation plan
  CLAUDE.md
  specs/003-naming-consistency/checklists/requirements.md
  specs/003-naming-consistency/data-model.md
  specs/003-naming-consistency/plan.md
  specs/003-naming-consistency/quickstart.md
  specs/003-naming-consistency/research.md
  specs/003-naming-consistency/spec.md
  specs/003-naming-consistency/tasks.md
Due: spec-kit-validation

refactor(naming): standardize naming conventions and add deprecation warnings
  Makefile
  docs/source/api/config.rst
  docs/source/developer/index.rst
  docs/source/developer/naming-conventions.rst
  docs/source/index.rst
  docs/source/migration/deprecated-options.rst
  docs/source/migration/index.rst
  repo/audit_boolean_naming.py
  segnomms/config/models/core.py
  segnomms/plugin/__init__.py
  segnomms/plugin/rendering.py
  segnomms/validation/__init__.py
  segnomms/validation/phase4.py
  specs/003-naming-consistency/tasks.md
  tests/integration/test_backward_compatibility.py
  tests/unit/test_composition_validator.py
  tests/unit/test_deprecation_warnings.py
  tests/unit/test_plugin_exports.py
Due: black, isort, debug-statements, mypy, bandit, repo-scripts, doc-dependencies, doc-build, doc-references, spell-check, spec-kit-validation

refactor(naming): rename phase4.py to composition.py for naming consistency
  README.md
  docs/source/api/validation.rst
  docs/source/migration/deprecated-options.rst
  segnomms/plugin/rendering.py
  segnomms/validation/__init__.py
  segnomms/validation/composition.py
  segnomms/validation/models.py
  segnomms/validation/phase4.py
  tests/integration/test_composition_integration.py
  tests/unit/test_composition_validator.py
  tests/unit/test_composition_validator_additional.py
  tests/unit/test_composition_validator_compat.py
Due: black, isort, debug-statements, mypy, bandit, doc-dependencies, doc-build, doc-references, spell-check

refactor(naming): complete phase4 naming consistency audit fixes
  .specify/memory/architecture-overview.md
  .specify/memory/cross-module-dependencies.md
  .specify/templates/plan-template.md
  docs/source/installation.rst
  docs/source/migration/deprecated-options.rst
  segnomms/config/models/core.py
  tests/integration/test_backward_compatibility.py
  tests/integration/test_composition_integration.py
  tests/integration/test_plugin_integration.py
  tests/integration/test_plugin_registration.py
  tests/structural/test_svg_structure.py
Due: black, isort, debug-statements, mypy, bandit, doc-dependencies, doc-build, doc-references, spell-check, spec-kit-templates

docs(specs): mark all naming consistency tasks as complete
  specs/003-naming-consistency/tasks.md
Due: spec-kit-validation

fix(tests): update plugin internal function imports in test_plugin_core
  tests/unit/test_plugin_core.py
Due: black, isort, debug-statements

fix(naming): address PR review feedback from Copilot and Gemini
  docs/source/api/config.rst
  segnomms/config/models/core.py
  segnomms/validation/__init__.py
  specs/003-naming-consistency/data-model.md
  specs/003-naming-consistency/quickstart.md
  specs/003-naming-consistency/research.md
  tests/unit/test_composition_validator_compat.py
Due: black, isort, debug-statements, mypy, bandit, doc-dependencies, doc-build, doc-references, spell-check, spec-kit-validation

fix(tests): update integration test imports for internal plugin functions
  tests/integration/test_plugin_additional.py
  tests/integration/test_plugin_integration.py
Due: black, isort, debug-statements

fix(tests): use realistic values in composition validator tests
  tests/unit/test_composition_validator_additional.py
Due: black, isort, debug-statements

ci: consolidate workflows and add wheel build job
  .github/workflows/ci.yml
  .github/workflows/test.yml
  .github/workflows/validate-release.yml
  repo/quality_gate_checker.sh
Due: actionlint, check-yaml

fix(tests): check for actual QR decoding libraries before scanability tests
  tests/unit/test_composition_validator_additional.py
Due: black, isort, debug-statements

feat(deps): drop Python 3.9, add Python 3.14, upgrade dev tools
  .github/workflows/ci.yml
  .github/workflows/validate-release.yml
  .python-version
  CLAUDE.md
  README.md
  pyproject.toml
  uv.lock
Due: actionlint, check-yaml

docs: fix Python version and improve README compatibility
  CHANGELOG.md
  README.md
  docs/source/installation.rst
Due: doc-dependencies, doc-build, doc-references, spell-check

fix(ci): repair release-please version substitution
  .github/release-please-config.json
  segnomms/__init__.py
Due: black, isort, check-json, debug-statements, mypy, bandit

fix(ci): repair release-please version substitution (#44)
  .github/release-please-config.json
  segnomms/__init__.py
Due: black, isort, check-json, debug-statements, mypy, bandit

fix: align __version__ literal with release-please manifest
  segnomms/__init__.py
Due: black, isort, debug-statements, mypy, bandit

fix: align __version__ literal with release-please manifest (#45)
  segnomms/__init__.py
Due: black, isort, debug-statements, mypy, bandit

ci: fix path filters and stale Python matrix in workflows
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  .github/workflows/docs.yml
  .github/workflows/example-release-process.yml
  .github/workflows/performance.yml
  .github/workflows/release-please.yml
Due: actionlint, check-yaml

fix(deps): move myst-parser from runtime to docs dependencies
  pyproject.toml
Due: none

fix(deps): move myst-parser from runtime to docs dependencies (#47)
  pyproject.toml
Due: none

ci: fix path filters and stale Python matrix in workflows (#46)
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  .github/workflows/docs.yml
  .github/workflows/example-release-process.yml
  .github/workflows/performance.yml
  .github/workflows/release-please.yml
Due: actionlint, check-yaml

fix(ci): repair release workflow uv install + RTD lenience; cut 0.2.1
  .github/workflows/release-please.yml
Due: actionlint, check-yaml

fix(ci): repair release workflow uv install + RTD lenience; cut 0.2.1 (#48)
  .github/workflows/release-please.yml
Due: actionlint, check-yaml

fix(ci): allow coverage comments on dependabot PRs
  .github/workflows/coverage.yml
Due: actionlint, check-yaml

fix(tests): use median_time in perf thresholds; fix type annotations
  tests/perf/test_algorithm_benchmarks.py
Due: black, isort, debug-statements

ci: add Gemini PR review workflow
  .github/workflows/gemini-review.yml
Due: actionlint, check-yaml

ci: add Gemini PR review workflow (#63)
  .github/workflows/gemini-review.yml
Due: actionlint, check-yaml

Path conditions:
  actionlint: any of: .github/workflows/*.{yml,yaml}
  validate-gha-event-fixtures: any of: repo/gha/{events,tests}/**/*.json
  black: any of: *.py
  isort: any of: *.py
  check-yaml: any of: *.{yml,yaml}, but not: .github/workflows/*.{yml,yaml}
  check-json: any of: *.json
  debug-statements: any of: *.py
  mypy: any of: *.py, but not: tests/|examples/|repo/
  bandit: any of: *.py, but not: tests/|examples/|repo/
  repo-scripts: any of: repo/*.py
  doc-dependencies: any of: docs/**/*.{rst,md,py}
  doc-build: any of: docs/**/*.{rst,md,py}
  doc-references: any of: docs/**/*.rst
  spell-check: any of: docs/**/*.{rst,md}
  spell-check-dict: any of: project-words.txt
  spell-check-config: any of: cspell.json
  spec-kit-validation: any of: specs/**/*.md
  spec-kit-constitution: any of: .specify/memory/constitution.md
  spec-kit-templates: any of: .specify/templates/*.md
