Repository systmms/segnomms: changes, and which lefthook commands are due for each by the changed paths.
All: actionlint, validate-gha-event-fixtures, black, isort, check-yaml, check-json, debug-statements, mypy, bandit, repo-scripts, doc-dependencies, doc-build, doc-references, spell-check, spell-check-dict, spell-check-config

actionlint:
  run: actionlint {staged_files}

validate-gha-event-fixtures:
  run: node repo/gha/scripts/validate-event-payloads.mjs --format {staged_files}
  stage_fixed: true

black:
  run: black {staged_files}
  stage_fixed: true

isort:
  run: isort --profile black {staged_files}
  stage_fixed: true

check-yaml:
  run: "for file in {staged_files}; do\n  python -c \"import yaml; yaml.safe_load(open('$file'))\" || exit 1\ndone\n"

check-json:
  run: "for file in {staged_files}; do\n  python -m json.tool \"$file\" > /dev/null || exit 1\ndone\n"

debug-statements:
  run: "for file in {staged_files}; do\n  if grep -E '(import pdb|pdb\\.set_trace\\(\\)|import ipdb|ipdb\\.set_trace\\(\\))' \"$file\"; then\n    echo \"Debug statements found in $file\"\n    exit 1\n  fi\ndone\n"

mypy:
  run: mypy {staged_files}

bandit:
  run: bandit -c .bandit -r {staged_files}

repo-scripts:
  run: 'echo "Repository script changed: {staged_files}"
  
    echo "Consider running relevant tests if scripts are modified"
  
    '

doc-dependencies:
  run: python repo/check_doc_dependencies.py

doc-build:
  run: python repo/check_doc_build.py --skip-if-missing-deps --quiet

doc-references:
  run: python repo/validate_docs_references.py

spell-check:
  run: "# Install cspell if needed\nif ! command -v npx &> /dev/null || ! npx cspell --version &> /dev/null 2>&1; then\n  echo \"Installing cspell (Code Spell Checker)...\"\n  ./repo/setup_cspell.sh\nfi\n# Run spell check on documentation files\npython repo/spell_check_docs_cspell.py --files {staged_f
  ...

spell-check-dict:
  run: "echo \"Project dictionary updated - running full spell check\"\nif ! command -v npx &> /dev/null || ! npx cspell --version &> /dev/null 2>&1; then\n  echo \"Installing cspell (Code Spell Checker)...\"\n  ./repo/setup_cspell.sh\nfi\npython repo/spell_check_docs_cspell.py --quiet\n"

spell-check-config:
  run: "echo \"cspell configuration updated - running full spell check\"\nif ! command -v npx &> /dev/null || ! npx cspell --version &> /dev/null 2>&1; then\n  echo \"Installing cspell (Code Spell Checker)...\"\n  ./repo/setup_cspell.sh\nfi\npython repo/spell_check_docs_cspell.py --quiet\n"

docs: add auto-generated visual gallery from test baselines
  docs/.gitignore
  docs/source/_ext/visual_gallery.py
  docs/source/conf.py
  docs/source/index.rst
  docs/source/visual-gallery.rst
  lefthook.yml
Due: black, isort, check-yaml, debug-statements, mypy, bandit, doc-dependencies, doc-build, doc-references, spell-check

feat: integrate GitHub Spec-Kit for spec-driven development
  .claude/commands/speckit.analyze.md
  .claude/commands/speckit.checklist.md
  .claude/commands/speckit.clarify.md
  .claude/commands/speckit.constitution.md
  .claude/commands/speckit.implement.md
  .claude/commands/speckit.plan.md
  .claude/commands/speckit.specify.md
  .claude/commands/speckit.tasks.md
  .gitignore
  .specify/memory/architecture-overview.md
  .specify/memory/constitution.md
  .specify/memory/cross-module-dependencies.md
  .specify/memory/developer-workflow.md
  .specify/memory/pilot-feature-plan.md
  .specify/memory/research.md
  .specify/scripts/bash/check-prerequisites.sh
  .specify/scripts/bash/common.sh
  .specify/scripts/bash/create-new-feature.sh
  .specify/scripts/bash/setup-plan.sh
  .specify/scripts/bash/update-agent-context.sh
  .specify/templates/agent-file-template.md
  .specify/templates/checklist-template.md
  .specify/templates/plan-template.md
  .specify/templates/spec-template.md
  .specify/templates/tasks-template.md
  CLAUDE.md
  Makefile
  lefthook.yml
Due: check-yaml

docs: add spec-kit analysis for basic module shapes feature
  specs/001-basic-module-shapes/checklists/requirements.md
  specs/001-basic-module-shapes/spec.md
Due: none

fix(security): prevent code injection in spec-kit markdown validation
  .specify/scripts/bash/check-prerequisites.sh
  .specify/scripts/bash/common.sh
  .specify/scripts/bash/create-new-feature.sh
  .specify/scripts/bash/update-agent-context.sh
  lefthook.yml
Due: check-yaml

feat: add public constants module for user-facing documentation
  docs/source/examples.rst
  docs/source/quickstart.rst
  docs/source/testing/best-practices.rst
  docs/source/testing/index.rst
  docs/source/testing/test-constants.rst
  segnomms/__init__.py
  segnomms/constants.py
Due: black, isort, debug-statements, mypy, bandit, doc-dependencies, doc-build, doc-references, spell-check

docs: enhance parameter reference with ranges and quick lookup
  docs/source/api/main.rst
Due: doc-dependencies, doc-build, doc-references, spell-check

docs: add comprehensive Phase 4 compatibility guidance and cross-links
  docs/source/decoder_compatibility.rst
Due: doc-dependencies, doc-build, doc-references, spell-check

fix: resolve documentation display and formatting issues
  docs/source/contributing.rst
Due: doc-dependencies, doc-build, doc-references, spell-check

fix: resolve CI workflow configuration errors
  .github/workflows/conventional-commits.yml
  .github/workflows/validate-release.yml
Due: actionlint, check-yaml

fix: correct log output in conventional commits validation script
  repo/validate_conventional_commits.sh
Due: none

fix: resolve CI installation and validation failures
  .github/workflows/validate-release.yml
  examples/simple_example.py
  examples/simple_test.svg
  examples/simple_test_config.json
  repo/validate_conventional_commits.sh
Due: actionlint, black, isort, check-yaml, check-json, debug-statements

fix: resolve CI/CD workflow failures and optimize performance
  .github/workflows/coverage.yml
  .github/workflows/release-please.yml
  .github/workflows/validate-release.yml
  repo/validate_conventional_commits.sh
Due: actionlint, check-yaml

fix(ci): resolve package validation and deprecated UV configuration issues
  .github/workflows/validate-release.yml
  pyproject.toml
Due: actionlint, check-yaml

fix(ci): resolve conventional commits validation script logging bug
  repo/validate_conventional_commits.sh
Due: none

fix(ci): resolve Windows PowerShell bash syntax error in dependency installation
  .github/workflows/validate-release.yml
Due: actionlint, check-yaml

fix(ci): resolve Windows-specific test failures across multiple test suites
  tests/integration/test_accessibility_integration.py
  tests/integration/test_config_export.py
  tests/integration/test_decoder_smoke.py
  tests/perf/test_example_generation_performance.py
Due: black, isort, debug-statements

fix(ci): skip PNG visual regression tests on Windows
  tests/visual/test_visual_regression_png.py
Due: black, isort, debug-statements

chore: enforce repository policies and cleanup dependencies
  ACTIONS_STATUS.md
  CLAUDE.md
  CONTRIBUTING.md
  docs/source/installation.rst
  docs/source/testing/test-suite.rst
  pull-request-event.json
  push-event.json
  pyproject.toml
  release-event.json
  workflow-dispatch-event.json
Due: check-json, doc-dependencies, doc-build, doc-references, spell-check

docs(spec): add initial documentation audit specification
  lefthook.yml
  specs/001-initial-documentation-audit/checklists/requirements.md
  specs/001-initial-documentation-audit/spec.md
Due: check-yaml

chore(spec): renumber feature from 001 to 002
  specs/002-initial-documentation-audit/checklists/requirements.md
  specs/002-initial-documentation-audit/plan.md
  specs/002-initial-documentation-audit/spec.md
  uv.lock
Due: none

docs(spec): complete implementation plan for documentation audit
  specs/002-initial-documentation-audit/plan.md
  specs/002-initial-documentation-audit/quickstart.md
Due: none

docs(spec): generate implementation tasks for documentation audit
  specs/002-initial-documentation-audit/tasks.md
Due: none

docs: add validation scripts for documentation audit
  scripts/check_doc_contradictions.sh
  scripts/extract_code_examples.py
  scripts/verify_documentation_fixes.py
Due: black, isort, debug-statements, mypy, bandit

docs(critical): fix contradictions in package name, repo URL, author, and Segno version
  docs/source/api/animation.rst
  docs/source/api/index.rst
  docs/source/contributing.rst
  docs/source/examples.rst
  docs/source/index.rst
  docs/source/installation.rst
  docs/source/quickstart.rst
  segnomms/__init__.py
Due: black, isort, debug-statements, mypy, bandit, doc-dependencies, doc-build, doc-references, spell-check

docs(critical): add Python 3.14 support and clarify uv dependency workflow
  README.md
  pyproject.toml
Due: none

docs: update task completion status for User Stories 1-3
  specs/002-initial-documentation-audit/tasks.md
Due: none

docs(high): document Lefthook workflow and test script discoverability
  docs/source/contributing.rst
Due: doc-dependencies, doc-build, doc-references, spell-check

docs(high): add complete constants module API documentation
  docs/source/api/constants.rst
  docs/source/api/index.rst
Due: doc-dependencies, doc-build, doc-references, spell-check

docs: update task completion status for User Stories 4-5
  specs/002-initial-documentation-audit/tasks.md
Due: none

docs(medium): add complete working examples for FastAPI and decoder testing
  docs/source/decoder_compatibility.rst
  docs/source/examples.rst
  specs/002-initial-documentation-audit/tasks.md
Due: doc-dependencies, doc-build, doc-references, spell-check

docs(polish): complete navigation, beta notices, and final validation
  CHANGELOG.md
  README.md
  docs/source/contributing.rst
  docs/source/decoder_compatibility.rst
  docs/source/installation.rst
  docs/source/shapes.rst
  specs/002-initial-documentation-audit/tasks.md
Due: doc-dependencies, doc-build, doc-references, spell-check

ci: fix dependency installation and codecov action parameters
  .github/workflows/docs.yml
  .github/workflows/test.yml
  .github/workflows/validate-release.yml
Due: actionlint, check-yaml

docs: fix invalid type annotation any to Any
  docs/source/decoder_compatibility.rst
Due: doc-dependencies, doc-build, doc-references, spell-check

ci: fix docs build dependency installation flag
  .github/workflows/_docs-build.yml
Due: actionlint, check-yaml

ci(docs): fix documentation CI/CD issues and improve quality enforcement
  .github/workflows/_docs-build.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .readthedocs.yaml
  docs/source/_ext/visual_gallery.py
  docs/source/api/main.rst
  docs/source/conf.py
  docs/source/examples.rst
  docs/source/visual-gallery.rst
  repo/spell_check_docs_cspell.py
  repo/validate_docs_references.py
Due: actionlint, black, isort, check-yaml, debug-statements, mypy, bandit, repo-scripts, doc-dependencies, doc-build, doc-references, spell-check

chore: add ideas backlog for future refactoring opportunities
  .specify/ideas/documentation-improvements.md
  .specify/ideas/pattern-style-config-refactor.md
  .specify/ideas/processor-split.md
  .specify/ideas/test-quality-audit.md
  CLAUDE.md
Due: none

Path conditions:
  actionlint: any of: .github/workflows/*.{yml,yaml}
  validate-gha-event-fixtures: any of: repo/gha/{events,tests}/**/*.json
  black: any of: *.py
  isort: any of: *.py
  check-yaml: any of: *.{yml,yaml}, but not: .github/workflows/*.{yml,yaml}
  check-json: any of: *.json
  debug-statements: any of: *.py
  mypy: any of: *.py, but not: tests/|examples/|repo/
  bandit: any of: *.py, but not: tests/|examples/|repo/
  repo-scripts: any of: repo/*.py
  doc-dependencies: any of: docs/**/*.{rst,md,py}
  doc-build: any of: docs/**/*.{rst,md,py}
  doc-references: any of: docs/**/*.rst
  spell-check: any of: docs/**/*.{rst,md}
  spell-check-dict: any of: project-words.txt
  spell-check-config: any of: cspell.json
