Repository systmms/segnomms: changes, and which lefthook commands are due for each by the changed paths.
All: actionlint, black, isort, check-yaml, check-json, debug-statements, mypy

actionlint:
  run: actionlint {staged_files}

black:
  run: black --check {staged_files}

isort:
  run: isort --check-only --profile black {staged_files}

check-yaml:
  run: "for file in {staged_files}; do\n  python -c \"import yaml; yaml.safe_load(open('$file'))\" || exit 1\ndone\n"

check-json:
  run: "for file in {staged_files}; do\n  python -m json.tool \"$file\" > /dev/null || exit 1\ndone\n"

debug-statements:
  run: "for file in {staged_files}; do\n  if grep -E '(import pdb|pdb\\.set_trace\\(\\)|import ipdb|ipdb\\.set_trace\\(\\))' \"$file\"; then\n    echo \"Debug statements found in $file\"\n    exit 1\n  fi\ndone\n"

mypy:
  run: mypy {staged_files}

fix: resolve 8 critical GitHub Actions failures + extract scripts to repo/
  .github/workflows/coverage.yml
  .github/workflows/test.yml
  repo/calculate_coverage_diff.sh
  repo/check_doc_dependencies.py
  repo/generate_coverage_badge.sh
  repo/generate_coverage_summary.sh
  repo/run_comprehensive_coverage.sh
  repo/test_readme_examples.py
  repo/test_wheel_installation.sh
  tests/perf/test_algorithm_benchmarks.py
  tests/perf/test_memory_profiling.py
Due: actionlint, black, isort, check-yaml, debug-statements

fix: resolve actionlint validation issues + optimize workflow triggers
  .github/workflows/ci.yml
  .github/workflows/conventional-commits.yml
  .github/workflows/coverage.yml
  .github/workflows/docs.yml
  .github/workflows/example-release-process.yml
  .github/workflows/performance.yml
  .github/workflows/publish.yml
  .github/workflows/release-please.yml
  .github/workflows/release-staged.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .github/workflows/validate-release.yml
  ACTIONS_STATUS.md
  CLAUDE.md
Due: actionlint, check-yaml

perf: implement comprehensive caching for GitHub Actions workflows
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  .github/workflows/docs.yml
  .github/workflows/performance.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: actionlint, check-yaml

fix: resolve critical GitHub Actions failures and restore CI/CD pipeline
  .github/.release-please-manifest.json
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  .github/workflows/release-please.yml
  .github/workflows/release-staged.yml
  .github/workflows/test.yml
  .github/workflows/validate-release.yml
  examples/test_qr_design_verification.py
  repo/run_comprehensive_coverage.sh
  repo/test_wheel_installation.sh
  segnomms/algorithms/clustering.py
  segnomms/plugin/interface.py
  segnomms/svg/path_clipper.py
  tests/integration/test_plugin_integration.py
  tests/integration/test_plugin_registration.py
  tests/perf/test_algorithm_benchmarks.py
  tests/perf/test_memory_profiling.py
  tests/unit/test_matrix_operations.py
  tests/unit/test_path_clipper.py
  tests/unit/test_phase4_additional.py
  tests/unit/test_scanning_harness.py
  tests/unit/test_types.py
  tests/unit/test_utils.py
Due: actionlint, black, isort, check-yaml, check-json, debug-statements, mypy

fix: resolve critical GitHub Actions failures + adjust memory test thresholds
  .github/workflows/docs.yml
  ACTIONS_STATUS.md
  pyproject.toml
  segnomms/svg/definitions.py
  tests/perf/test_memory_profiling.py
Due: actionlint, black, isort, check-yaml, debug-statements, mypy

fix: address remaining GitHub Actions failures and optimize CI pipeline
  .github/workflows/test.yml
  ACTIONS_STATUS.md
  pyproject.toml
  repo/generate_performance_report.py
  repo/run_comprehensive_coverage.sh
  tests/integration/test_config_export.py
  tests/integration/test_matrix_integration.py
  uv.lock
Due: actionlint, black, isort, check-yaml, debug-statements

fix: resolve remaining GitHub Actions test failures
  .github/workflows/test.yml
  tests/integration/test_decoder_smoke.py
  tests/visual/test_visual_regression_png.py
Due: actionlint, black, isort, check-yaml, debug-statements

fix: comprehensive GitHub Actions failure remediation
  .github/workflows/docs.yml
  .github/workflows/test.yml
  ACTIONS_STATUS.md
  segnomms/config/models/core.py
  segnomms/core/matrix/manipulator.py
  tests/conftest.py
  tests/integration/test_decoder_smoke.py
Due: actionlint, black, isort, check-yaml, debug-statements, mypy

test: add commit hook testing file
  test_commit_hook.md
Due: none

chore: remove test commit hook file
  test_commit_hook.md
Due: none

docs: add validation test file with intentional typo
  docs/source/test_hook.rst
  docs/source/test_validation.rst
Due: none

feat: complete GitHub Actions script extraction and lefthook integration
  .github/workflows/ci.yml
  .github/workflows/conventional-commits.yml
  .github/workflows/docs.yml
  .github/workflows/publish.yml
  .github/workflows/test.yml
  .github/workflows/validate-release.yml
  ACTIONS_STATUS.md
  docs/source/test_hook.rst
  docs/source/test_validation.rst
  flake.nix
  lefthook.yml
  pyproject.toml
  repo/aspell_project_dict.txt
  repo/check_doc_build.py
  repo/docs_quality_gate.sh
  repo/quality_gate_checker.sh
  repo/setup_apt_fallback.sh
  repo/setup_cairo_macos.sh
  repo/setup_cairo_windows.ps1
  repo/setup_spell_checker.sh
  repo/spell_check_docs.py
  repo/test_pypi_install.sh
  repo/test_wheel_installation.sh
  repo/validate_conventional_commits.sh
  repo/validate_release_status.sh
  segnomms/config/models/core.py
  tests/integration/test_decoder_smoke.py
  uv.lock
Due: actionlint, black, isort, check-yaml, debug-statements, mypy

feat: enhance lefthook with automatic fix staging
  lefthook.yml
Due: check-yaml

fix: resolve GitHub Actions workflow failures
  .github/workflows/docs.yml
  .github/workflows/test.yml
  repo/aspell_project_dict.txt
  tests/unit/test_matrix_manipulator.py
Due: actionlint, black, isort, check-yaml, debug-statements

feat: migrate from aspell to cspell with comprehensive GitHub Actions testing infrastructure
  .actrc
  .bandit
  .env.act.detailed
  .github/workflows/docs.yml
  .gitignore
  README.md
  cspell.json
  docs/source/testing/best-practices.rst
  docs/source/testing/test-constants.rst
  lefthook.yml
  package-lock.json
  package.json
  project-words.txt
  pull-request-event.json
  push-event.json
  pyproject.toml
  release-event.json
  repo/setup_cspell.sh
  repo/setup_spell_checker.sh
  repo/spell_check_docs.py
  repo/spell_check_docs_cspell.py
  uv.lock
  workflow-dispatch-event.json
Due: actionlint, black, isort, check-yaml, check-json, debug-statements

feat: complete Pyodide removal from codebase
  .github/pull_request_template.md
  .github/workflows/example-release-process.yml
  .github/workflows/validate-release.yml
  CHANGELOG.md
  package.json
  project-words.txt
  pyproject.toml
  repo/build_wheel.py
  repo/validate_release.py
  repo/validate_release_status.sh
  tests/coverage_bridge.py
Due: actionlint, black, isort, check-yaml, check-json, debug-statements

fix: remove invalid 'pure = true' from project.urls section
  pyproject.toml
Due: none

fix: ensure docs workflow uses uv environment for build commands
  .github/workflows/docs.yml
Due: actionlint, check-yaml

fix: resolve GitHub Actions payload validation failures
  .github/act-precommit-full.yml
  .gitignore
  lefthook.yml
  repo/analyze-schemas-detailed.mjs
  repo/analyze-schemas.mjs
  repo/get-referenced-schemas.mjs
  repo/gha/.actrc
  repo/gha/.secrets.example
  repo/gha/.vars.example
  repo/gha/events/pull_request.json
  repo/gha/events/push.json
  repo/gha/scripts/act-precommit.sh
  repo/gha/scripts/validate-event-payloads.mjs
  repo/gha/tests/ci/pull_request.json
  repo/gha/tests/ci/push.json
  repo/gha/tests/conventional-commits/pull_request_edited.json
  repo/gha/tests/conventional-commits/pull_request_opened.json
  repo/gha/tests/conventional-commits/pull_request_synchronize.json
  repo/gha/tests/coverage/pull_request.json
  repo/gha/tests/coverage/push.json
  repo/gha/tests/docs/push.json
  repo/gha/tests/docs/workflow_dispatch.json
  repo/gha/tests/performance/workflow_dispatch.json
  repo/gha/tests/publish/workflow_dispatch.json
  repo/gha/tests/release-please/push.json
  repo/gha/tests/release/push.json
  repo/gha/tests/release/workflow_dispatch.json
  repo/gha/tests/test/pull_request.json
  repo/gha/tests/test/push.json
  repo/gha/tests/validate-release/pull_request.json
  repo/package-lock.json
  repo/package.json
Due: check-yaml, check-json

fix: add missing myst-parser dependency for documentation builds
  pyproject.toml
  uv.lock
Due: none

fix: migrate documentation deployment to modern GitHub Actions Pages method
  .github/workflows/docs.yml
Due: actionlint, check-yaml

fix: add missing skip for rounded shape decoder compatibility issue
  tests/integration/test_decoder_smoke.py
Due: black, isort, debug-statements

feat: consolidate documentation builds with reusable workflow
  .github/workflows/_docs-build.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  Makefile
Due: actionlint, check-yaml

feat: optimize GitHub workflows and improve documentation build reliability
  .github/workflows/test.yml
  CONTRIBUTING.md
  docs/source/contributing.rst
  docs/source/decoder_compatibility.rst
  docs/source/index.rst
  lefthook.yml
  pyproject.toml
  repo/validate_docs_references.py
  uv.lock
Due: actionlint, black, isort, check-yaml, debug-statements

ci: disabling the build minutes user until repository is stable
  .github/workflows/test.yml
Due: actionlint, check-yaml

ci(test-wheel): use dark='blue' in PyPI functionality test and skip wait\n\n- Replace deprecated 'fill' kwarg to match plugin API\n- Add --no-wait to wheel job step to speed local act runs
  .github/workflows/test.yml
  repo/test_pypi_install.sh
Due: actionlint, check-yaml

ci(security): add Bandit results summary to step summary\n\n- Parse bandit-report.json and write markdown tables to \n- Include severity counts and top 10 findings; keep artifact upload on failures
  .github/workflows/ci.yml
Due: actionlint, check-yaml

ci: making bandit security/command exist 0
  .github/workflows/ci.yml
Due: actionlint, check-yaml

chore: sync version to beta registry
  segnomms/__init__.py
Due: black, isort, debug-statements, mypy

docs: adding missing sphinx/docs requirements
  docs/requirements.txt
Due: none

docs(rtd,sphinx): fix RTD build, enable linkify, and resolve Sphinx warnings
  .readthedocs.yaml
  docs/requirements.txt
  docs/source/_static/.gitkeep
  docs/source/api/degradation.rst
  docs/source/api/exceptions.rst
  docs/source/conf.py
  docs/source/contributing.rst
  segnomms/algorithms/clustering.py
  segnomms/intents/models.py
  segnomms/plugin/interface.py
Due: black, isort, check-yaml, debug-statements, mypy

ci(lefthook): avoid git index.lock by removing manual 'git add' in end-of-file hook
  .github/workflows/release-please.yml
  lefthook.yml
Due: actionlint, check-yaml

ci(lefthook): run hooks sequentially to prevent concurrent staging (index.lock)
  lefthook.yml
Due: check-yaml

ci(test-wheel): install and test local wheel instead of PyPI; harden install script
  .github/workflows/test.yml
  repo/test_pypi_install.sh
Due: actionlint, check-yaml

ci(lefthook): ensure sequential pre-commit hooks; rely on stage_fixed for staging
  lefthook.yml
Due: check-yaml

ci: update release configuration to disable prerelease and remove unused files
  .github/release-please-config.json
  .github/workflows/release-please.yml
  .github/workflows/release-staged.yml
  .github/workflows/release.yml
Due: actionlint, check-yaml, check-json

ci: removing full test validation from final release
  .github/workflows/release-please.yml
Due: actionlint, check-yaml

chore: updating changelog to appropriate beta vs real release notes
  .github/workflows/publish.yml
  CHANGELOG.md
Due: actionlint, check-yaml

docs: fix intent examples, align reqs, add docstrings, reduce Sphinx warnings
  README.md
  docs/source/api/accessibility.rst
  docs/source/api/animation.rst
  docs/source/api/color.rst
  docs/source/api/core.rst
  docs/source/api/degradation.rst
  docs/source/api/exceptions.rst
  docs/source/api/frames.rst
  docs/source/api/index.rst
  docs/source/api/intents.rst
  docs/source/api/main.rst
  docs/source/api/validation.rst
  docs/source/conf.py
  docs/source/examples.rst
  docs/source/index.rst
  docs/source/installation.rst
  docs/source/quickstart.rst
  docs/source/testing/best-practices.rst
  segnomms/degradation/rules.py
  segnomms/shapes/connected.py
  segnomms/shapes/factory.py
Due: black, isort, debug-statements, mypy

Path conditions:
  actionlint: any of: .github/workflows/*.{yml,yaml}
  black: any of: *.py
  isort: any of: *.py
  check-yaml: any of: *.{yml,yaml}, but not: .github/workflows/*.{yml,yaml}
  check-json: any of: *.json
  debug-statements: any of: *.py
  mypy: any of: *.py, but not: tests/|examples/|repo/
