Repository systmms/segnomms: changes, and which lefthook commands are due for each by the changed paths.
All: actionlint, black, isort, flake8, check-yaml, check-json, debug-statements

actionlint:
  run: actionlint {staged_files}

black:
  run: black --check {staged_files}

isort:
  run: isort --check-only --profile black {staged_files}

flake8:
  run: flake8 --max-line-length=88 --extend-ignore=E203,W503 {staged_files}

check-yaml:
  run: "for file in {staged_files}; do\n  python -c \"import yaml; yaml.safe_load(open('$file'))\" || exit 1\ndone\n"

check-json:
  run: "for file in {staged_files}; do\n  python -m json.tool \"$file\" > /dev/null || exit 1\ndone\n"

debug-statements:
  run: "for file in {staged_files}; do\n  if grep -E '(import pdb|pdb\\.set_trace\\(\\)|import ipdb|ipdb\\.set_trace\\(\\))' \"$file\"; then\n    echo \"Debug statements found in $file\"\n    exit 1\n  fi\ndone\n"

docs: add development context and project documentation
  CHANGELOG.md
  CLAUDE.md
  README.md
Due: none

build: upgrade Pydantic to v2.7+ with MyPy integration
  pyproject.toml
  segnomms/py.typed
  uv.lock
Due: none

refactor\!: remove use_enum_values to enable enum objects at runtime
  segnomms/algorithms/models.py
  segnomms/config/models/core.py
  segnomms/config/models/geometry.py
  segnomms/config/models/phases.py
Due: black, isort, flake8, debug-statements

feat: add discriminated unions for shape-specific configurations
  segnomms/config/models/geometry.py
Due: black, isort, flake8, debug-statements

feat: add comprehensive TypedDict patterns for type-safe **kwargs
  segnomms/shapes/basic.py
  segnomms/shapes/connected.py
  segnomms/types.py
Due: black, isort, flake8, debug-statements

fix: remove .value usage from enum comparisons for Pydantic v2
  segnomms/config/models/core.py
  tests/constants.py
Due: black, isort, flake8, debug-statements

fix: merge legacy types with new TypedDict patterns
  segnomms/config/models/core.py
  segnomms/types.py
Due: black, isort, flake8, debug-statements

feat: add TypedDict patterns for type-safe **kwargs
  segnomms/shapes/factory.py
  tests/unit/test_config_validation_edge_cases.py
Due: black, isort, flake8, debug-statements

docs: document successful Pydantic v2 + MyPy modernization achievement
  CLAUDE.md
  segnomms/config/presets.py
Due: black, isort, flake8, debug-statements

fix: critical MyPy type annotation and enum assertion fixes
  segnomms/a11y/accessibility.py
  segnomms/core/interfaces.py
  segnomms/core/models.py
  segnomms/plugin/rendering.py
  segnomms/shapes/frames.py
  segnomms/validation/models.py
  tests/unit/test_config_core.py
  tests/unit/test_config_geometry.py
Due: black, isort, flake8, debug-statements

fix: major progress on test enum assertions - 95.5% pass rate
  segnomms/a11y/accessibility.py
  segnomms/plugin/rendering.py
  segnomms/shapes/frames.py
  tests/unit/test_config_core.py
  tests/unit/test_config_geometry.py
  tests/unit/test_config_phases.py
  tests/unit/test_intent_error_handling.py
Due: black, isort, flake8, debug-statements

fix: accessibility and SVG model type annotations
  segnomms/a11y/accessibility.py
  segnomms/svg/models.py
Due: black, isort, flake8, debug-statements

feat: implement string-compatible enums with case-insensitive handling
  pyproject.toml
  segnomms/config/enums.py
Due: black, isort, flake8, debug-statements

fix: add explicit __str__ methods to all enums for correct string representation
  segnomms/config/enums.py
  tests/unit/test_config_geometry.py
Due: black, isort, flake8, debug-statements

fix: add complete type annotations to svg/frame_visual.py
  segnomms/svg/frame_visual.py
Due: black, isort, flake8, debug-statements

fix: complete type annotations for shapes/basic.py (71 → 0 errors)
  segnomms/shapes/basic.py
Due: black, isort, flake8, debug-statements

feat(types): implement comprehensive MyPy + Pydantic v2 compatibility
  .envrc
  segnomms/core/matrix/manipulator.py
  segnomms/plugin/rendering.py
  segnomms/shapes/connected.py
  segnomms/shapes/factory.py
  segnomms/svg/composite.py
  segnomms/svg/definitions.py
  uv.lock
Due: black, isort, flake8, debug-statements

feat: integrate MyPy type checking into pre-commit hooks
  lefthook.yml
Due: check-yaml

fix: resolve 28 MyPy errors in core/performance.py and plugin/rendering.py
  segnomms/core/performance.py
  segnomms/plugin/rendering.py
Due: black, isort, flake8, debug-statements

fix: resolve performance test failures and configuration issues
  pyproject.toml
  segnomms/core/performance.py
Due: black, isort, flake8, debug-statements

fix: resolve 18 MyPy errors in core matrix processing modules
  segnomms/core/geometry/centerpiece_geometry.py
  segnomms/core/matrix/imprint_processor.py
Due: black, isort, flake8, debug-statements

🎉 feat: Complete MyPy + Pydantic compatibility (774→0 errors)
  CLAUDE.md
  pytest.ini
  segnomms/algorithms/clustering.py
  segnomms/core/matrix/knockout_processor.py
  segnomms/core/performance.py
  segnomms/intents/processor.py
  segnomms/plugin/patterns.py
  segnomms/svg/core.py
  segnomms/svg/path_clipper.py
  segnomms/validation/phase4.py
  tests/perf/test_example_generation_performance.py
Due: black, isort, flake8, debug-statements

style: automated code formatting with black and isort
  segnomms/__init__.py
  segnomms/a11y/accessibility.py
  segnomms/capabilities/manifest.py
  segnomms/config/models/visual.py
  segnomms/core/advanced_qr.py
  segnomms/core/detector.py
  segnomms/core/matrix/matrix_validator.py
  segnomms/core/matrix/performance_monitor.py
  segnomms/intents/models.py
  segnomms/plugin/export.py
  segnomms/svg/accessibility.py
  segnomms/svg/models.py
Due: black, isort, flake8, debug-statements

chore: updating CLAUDE.md based on the repository state
  CLAUDE.md
Due: none

refactor: reorganize flake8 configuration for systematic rule reduction
  .flake8
  lefthook.yml
Due: check-yaml

fix: resolve critical flake8 violations (Priority 1)
  tests/helpers/performance_monitor.py
  tests/integration/test_accessibility_integration.py
  tests/integration/test_plugin_additional.py
  tests/unit/test_svg_builder.py
  tests/unit/test_utils.py
Due: black, isort, flake8, debug-statements

feat: remove F821 and F811 from flake8 ignore list
  lefthook.yml
Due: check-yaml

fix: resolve Priority 2 style violations (E226, E712)
  tests/perf/test_algorithm_benchmarks.py
  tests/unit/test_degradation.py
Due: black, isort, flake8, debug-statements

feat: remove E226, E712, E501 from flake8 ignore list
  lefthook.yml
Due: check-yaml

fix: resolve F541 violations and improve performance monitoring
  lefthook.yml
  tests/helpers/scanning_harness.py
  tests/perf/test_algorithm_benchmarks.py
  tests/perf/test_matrix_performance.py
  tests/review/svg_diff_integration.py
Due: black, isort, flake8, check-yaml, debug-statements

refactor: strategic F841 improvements - add validation assertions
  tests/integration/test_accessibility_integration.py
  tests/integration/test_config_export.py
  tests/integration/test_matrix_integration.py
  tests/integration/test_plugin_integration.py
  tests/perf/test_matrix_performance.py
  tests/unit/test_matrix_operations.py
  tests/unit/test_svg_builder.py
  tests/unit/test_utils.py
  tests/visual/test_comprehensive_examples.py
Due: black, isort, flake8, debug-statements

feat: F401 unused imports rule elimination - 80%+ rule reduction achieved
  lefthook.yml
  pyproject.toml
  tests/unit/test_advanced_qr_generator.py
  tests/unit/test_exceptions.py
  tests/unit/test_intent_error_handling.py
  tests/unit/test_palette.py
  tests/unit/test_phase4_validator.py
  tests/unit/test_plugin_core.py
Due: black, isort, flake8, check-yaml, debug-statements

refactor: strategic F841 enhancement phase - validation assertions added
  examples/enhanced_intents_demo.py
Due: black, isort, flake8, debug-statements

feat: hierarchical flake8 config - 90% rule reduction achieved\!
  .flake8
  lefthook.yml
Due: check-yaml

refactor: major F841 reduction - systematic validation enhancements
  repo/generate_performance_report.py
  tests/integration/test_phase4_integration.py
  tests/integration/test_plugin_additional.py
  tests/perf/test_algorithm_benchmarks.py
  tests/unit/test_config_visual.py
  tests/unit/test_intent_error_handling.py
Due: black, isort, flake8, debug-statements

fix: correct MyPy python_version configuration
  pyproject.toml
Due: none

fix: update deploy script for Hatchling dynamic versioning
  repo/deploy_beta.py
Due: black, isort, flake8, debug-statements

feat: refactor documentation scripts and setup GitHub Pages deployment
  .flake8
  .github/workflows/docs.yml
  .gitignore
  docs/.gitignore
  docs/Makefile
  docs/requirements.txt
  repo/generate_doc_coverage.py
  repo/spell_check_docs.py
  repo/test_readme_examples.py
Due: actionlint, black, isort, flake8, check-yaml, debug-statements

ci: extract remaining multi-line scripts from GitHub Actions to repo/
  .github/workflows/docs.yml
  repo/check_doc_dependencies.py
  repo/generate_example_qrs.py
Due: actionlint, black, isort, flake8, check-yaml, debug-statements

Path conditions:
  actionlint: any of: .github/workflows/*.{yml,yaml}
  black: any of: *.py
  isort: any of: *.py
  flake8: any of: *.py
  check-yaml: any of: *.{yml,yaml}, but not: .github/workflows/*.{yml,yaml}
  check-json: any of: *.json
  debug-statements: any of: *.py
